@model IEnumerable<EmbroidaryManagementSystem.Models.ProductTb>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Igst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Igst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
