@model IEnumerable<EmbroidaryManagementSystem.Models.UserRightsTb>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserRightsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserRightsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserRightsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
